<!doctype html>
<html>
 

    <head>
        <title> My Journal - New Journal</title>
    </head>

    <body>

        <form action="/journal" method="POST">
            <h1>What's about today!!!</h1>
            <b> Date : </b> <input type="date" name = "date" required><br><br>
            <b> TITLE : </b> <input type="text" name="heading" required><br><br>
            <textarea rows="15" cols="80" name="entry" placeholder="Write your journal entry here..." required></textarea><br><br>
            <input type="submit" value="submit"> <br>
        </form>

    </body>


</html>